.button {
    background: $blue;
    border: none;
    // border: 3px $orange-color solid;
    border-radius: 1.3rem;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--login, .button--logout {
    background: $blue;
    background: black;
    border: none;
    border-radius: 1.3rem;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;

    span {
        font-weight: 400;
    }
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
    background: $dark-grey;
}


// link on AdRepairPage

.link-to-dashboard,
.link-to-dashboard:link,
.link-to-dashboard:visited,
.link-to-dashboard:active {
    color: $med-grey;
    font-weight: 800;
    letter-spacing: .3rem;
    
    text-decoration: none;
    text-transform: uppercase;

    p {
        margin-top: $l-size;
    }
}


// colors for Google login button

.Google-G {
    color: $g-blue;
}

.Google-or {
    color: $g-red;
}

.Google-oy {
    color: $g-yellow;
}

.Google-g {
    color: $g-blue;
}

.Google-l {
    color: $g-green;
}

.Google-e {
    color: $g-red;
}